// Fonts
@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");


// Variables
@import "./variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import "./variables";
@import "./footer";
@import "./landingpage";
@import "./errand";
@import "./header";


* {
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;   
}

h1,h2,h3{
    font-family: 'Fredoka One', cursive;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container{
    max-width: 1140px;
    margin:auto;  
}

.full-height {
    height: 100vh;
  }
  
  .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .position-ref {
    position: relative;
  }
  
  .top-right {
    position: absolute;
    right: 10px;
    top: 18px;
  }
  
  .content {
    text-align: center;
  }


